*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    
}
section{
    padding: 10px 0;
    margin: 10px 0;
}

section h1{
    margin: 10px 0;
}




footer{
    background-color: black;
    color: grey;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
footer strong{
    font-size: 1.2rem;
}

footer .color{
    color: tomato;
    font-size: 2rem;
}

/* Utilities */
a{
    color: #AE942F;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .2s ease-in;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color:#eee;
    display: inline-block;
    
    
}

a:hover{
    background-color: black;
    color: white;
    transform: translateY(-5px);
    
}

.container{
    max-width: 1110px;
    height: 100%;
    margin: 20px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr ;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.text-center{
    text-align: center;
}

